<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-dark d-flex flex-column justify-content-center h-100">
    <nav class="nav d-flex justify-content-center">
        <a class="nav-link " href="/">Madlibs</a>
        <a href="#" class="disabled nav-link mr-auto invisible">Classic</a>
        <a class="nav-link disabled" href="#"  tabindex="-1" aria-disabled="true">{% block headtitle %}{% endblock %}</a>
        <a class="nav-link ml-auto" href="#">Classic</a>
        <a class="nav-link" href="#">Picture</a>
    </nav>
    <main>
        {% block main %} {% endblock %}
    </main>
    <footer class="d-flex mt-auto p-3">
        <div id="dev-links" class=" mx-auto d-flex flex-column align-items-center">
            <h2>Devs</h2>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><a href="http://www.twitter.com">Twitter</a></li>
                <li class="list-group-item"><a href="http://www.github.com">Github</a></li>
            </ul>
        </div>
        <div id="share-links" class="mx-auto d-flex flex-column align-items-center">
            <h2>Share</h2>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><a href="http://www.twitter.com">F</a></li>
                <li class="list-group-item"><a href="http://www.github.com">T</a></li>
                <li class="list-group-item"><a href="http://www.twitter.com">Y</a></li>
                <li class="list-group-item"><a href="http://www.github.com">R</a></li>
            </ul>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>