{% extends "base.html" %}
{% block title %}Madlibs{% endblock %}
{% block headtitle %}Home{% endblock %}
{% block main %}
<div class="container border border-dark align-items-center d-flex flex-column my-2 rounded p-5 ">
    <h1 class="">What's A Mad Lib?</h1>
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet totam aliquam, placeat itaque modi, at vel impedit, facilis repellendus accusantium laboriosam minima officia optio cum? Doloribus reiciendis nulla ratione quos.</p>
</div>
<div class="container border border-dark d-flex align-items-center flex-column my-2 rounded p-5">
    <h1 class="">How Does It Work?</h1>
    <div class="d-flex">
        <p class="m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod excepturi voluptate rem soluta nobis aperiam voluptatum error iusto doloribus eligendi nam necessitatibus iste, ab labore. Est consequuntur similique maxime provident.</p>
        <div class="d-flex flex-column align-items-center border border-muted rounded p-2 bg-dark text-info">
            <h2 class="">Classical</h2>
            <a href="/Create/Classic">GO</a>
            <h2 class="">Image</h2>
            <a href="/Create/Image">GO</a>
        </div>
    </div>
</div>


{% endblock %}