{% extends "base.html" %}
{% block title %}Madlibs{% endblock %}
{% block headtitle %}Home{% endblock %}
{% block main %}
<div class="container align-items-center d-flex flex-column">
    <h1 class="text-light">What's A Mad Lib?</h1>
    <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet totam aliquam, placeat itaque modi, at vel impedit, facilis repellendus accusantium laboriosam minima officia optio cum? Doloribus reiciendis nulla ratione quos.</p>
</div>
<div class="container d-flex align-items-center flex-column">
    <h1 class="text-light">How Does It Work?</h1>
    <div class="d-flex">
        <p class="text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod excepturi voluptate rem soluta nobis aperiam voluptatum error iusto doloribus eligendi nam necessitatibus iste, ab labore. Est consequuntur similique maxime provident.</p>
        <div class="d-flex flex-column align align-items-center">
            <h2 class="text-light">Classical</h2>
            <a href="/Create/Classic">GO</a>
            <h2 class="text-light">Image</h2>
            <a href="/Create/Image">GO</a>
        </div>
    </div>
</div>


{% endblock %}