{% extends "base.html" %}
{% block title %}Madlibs{% endblock %}
{% block headtitle %}Create Image Mad Lib{% endblock %}
{% block main %}
<div class="container align-items-center d-flex flex-column">
    <h1 class="text-light">Settings</h1>
    <form action="" method="GET" class="d-flex flex-column text-light">
        <label for="theme">Theme:
            <select name="theme" id="theme-selector">
                <option value="animals">Animals</option>
            </select>
        </label><br>
        <label for="length">Length:  
            <input type="radio" name="length" value="short"><span class="px-2 text-light">Short</span>
            <input type="radio" name="length" value="medium"><span class="px-2 text-light">Medium</span>
            <input type="radio" name="length" value="long"><span class="px-2 text-light">Long</span> 
        </label>
        <button class="w-25">GO</button>
    </form>
</div>
{% if answers %}
<div class="container d-flex align-items-center flex-column pb-5">
    <h1 class="text-light">Answers</h1>
    <form action="/Image" method="GET" class="d-flex flex-column">
        <ul>
        {% for answer in answers %}
            <li> <p class="mb-0 mt-1 text-light">{{answer}}</p> <input type="url" name="{{answer}}"></li>
        {% endfor %}
        </ul>
        <input type="hidden" name="theme" value="{{theme}}" />
        <input type="hidden" name="length" value="{{length}}" />
        <button class="align-self-end w-25">GO</button>
    </form>
</div>
{% endif %}

{% endblock %}