{% extends "base.html" %}
{% block title %}Madlibs{% endblock %}
{% block headtitle %}Image Mad Lib{% endblock %}
{% block main %}
<div class="container align-items-center d-flex flex-column">
    <h1 class=" ">Your Story</h1>
    <p class="  w-50">
        {% for mad in madlib %}
            {% if 'http' in mad %}
                <img src="{{mad}}" alt="">
            {% else %}
                <span>{{mad}}</span>
            {% endif %}
        {% endfor %}
        
    </p>
</div>
<div class="container d-flex align-items-center flex-column">
    <h1 class=" ">Share Your Mad Lib:</h1>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="http://www.twitter.com">F</a></li>
        <li class="list-group-item"><a href="http://www.github.com">T</a></li>
        <li class="list-group-item"><a href="http://www.twitter.com">Y</a></li>
        <li class="list-group-item"><a href="http://www.github.com">R</a></li>
    </ul>
    <h1 class=" ">New Mad Lib</h1>
    <div class="d-flex justify-content-between">
        <a href="/Create/Classic" class="mr-5">Classic</a>
        <a href="/Create/Image">Image</a>
    </div>
    
</div>


{% endblock %}